<!--Dynamically build and display the text and the list of teams-->
<div>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          <label>{{message}}</label><br>
          <input type="number" [(ngModel)]="newPurchase">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of teams">
        <td>
<!--          <div><button type="submit" class="btn btn-primary" (click)="onSelectTeam(item)">Select</button></div>-->
          <input type="radio" name="selectedItem" (click)="onSelectTeam(item)">
          <label>  {{item.text}}</label><br>
        </td>
      </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary" (click)="onPurchaseButton()">Purchases: ({{counter}}) </button>
    <button type="submit" class="btn btn-primary" (click)="increaseCounterByOne()">Increase by 1 </button>
  </div>

  <div style="display: block;">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
    </canvas>
  </div>

</div>


